<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="PhoneBookEntities" connectionString="metadata=res://*/PhoneUsers.csdl|res://*/PhoneUsers.ssdl|res://*/PhoneUsers.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=PhoneBook;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="hrmdbEntities" connectionString="metadata=res://*/PhoneBook.csdl|res://*/PhoneBook.ssdl|res://*/PhoneBook.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=hrmdb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="PhoneBookEntities1" connectionString="metadata=res://*/PhoneBook.csdl|res://*/PhoneBook.ssdl|res://*/PhoneBook.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=PhoneBook;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>